{% extends 'base.html' %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url "surveys:home" %}">Home</a></li>
        <li class="active"><a href="{%  url "surveys:survey" survey.id %}">Survey</a></li>
    </ol>
    <h2>{{ survey.name }}</h2>
    <h5>{{ survey.description }}</h5>
    <form action="{%  url "surveys:survey" survey.id %}" method="POST">
        {% csrf_token %}
        {% for field in survey_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.html_name }}. {{ field.label }}{% if field.field.required %} *{% endif %}</label>
                {{ field }}
            </div>
        {% endfor %}
        <div class="form-group">
            <label for="responder_id">{{ survey.questions.count|add:"1" }}. What's your Nickname?</label>
            <input type="text" id="responder_id" name="responder_id" placeholder="Nickname">
        </div>
        <input type="submit" class="btn btn-info" value="Submit Button">
    </form>
{% endblock content %}